body {
    margin: 0px;
    font-family: 'Noto Serif', serif;
}

.navgation {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: red;
    z-index: 200;
    clip-path: circle(25px at calc(100% - 45px) 40px);
    transition: all 300ms ease-in-out;
}

.navgation.active {
    clip-path: circle(75%);
}

.navgation .ham-btn {
    position: absolute;
    top: 15px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.navgation .ham-btn span {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 2px;
    background: white;
    transition: all 200ms ease-in-out;
}

.navgation .ham-btn span:nth-child(1) {
    top: 30%;
}

.navgation .ham-btn span:nth-child(2) {
    top: 50%;
}

.navgation .ham-btn span:nth-child(3) {
    top: 70%;
}

.navgation.active .ham-btn span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.navgation.active .ham-btn span:nth-child(2) {
    display: none;
}

.navgation.active .ham-btn span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.navgation .links {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.navgation .links a {
    position: relative;
    display: block;
    margin: 20px 0px;
    font-size: 50px;
    font-weight: 600;
    text-decoration: none;
    color: white;
}

.navgation .links a::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: -5px;
    height: 4px;
    width: 0%;
    background: white;
    transition: all 300ms ease-in-out;
}

.navgation .links a:hover::after {
    width: 100%;
}

.navgation .email h3 {
    margin-top: 40px;
}

.navgation .email h3 {
    font-size: 18px;
    font-weight: 200;
    color: white;
}

.navgation .icons i {
    font-size: 25px;
    color: white;
    margin-top: 40px;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(35deg, #f00000, rgba(255, 255, 255, 0) 27%), linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)), url(doctor-with-stethoscope-hands-hospital-background.jpg);
    background-position: center;
    background-size: cover;
    position: relative;

}

.navbar {
    transition: all 0.5s;
}

.navbar-scrolled {
    background-color: red;
    height: 70px;
}

.navbar-brand {
    color: white;
    text-decoration: none;
}

.bottom-left {
    position: absolute;
    bottom: 70px;
    left: 65px;
}

.bottom-left h1 {
    font-size: 70px;
    color: white;
}

.parallax {
    background: red repeat fixed 100%;
    text-align: center;
    padding: 15vw 10vw;
}

.parallax h3 {
    font-size: 60px;
    color: white;
    justify-content: center;
}

.parallax p {
    font-size: 15px;
    color: #ffffff;
    justify-content: center;
    margin-top: 50px;
    font-family: sans-serif;
}

.about {
    width: 90%;
    margin: auto;
    padding: 10vw 60px;
    background-color: white;
}

.about-col {
    flex-basis: 48%;
    padding: 30px 20px;
}

.about-col2 {
    width: 50%;
    height: 60vh;
    object-fit: fill;
    justify-content: center;
    align-items: center;
    display: flex;

}

.about-col2 img {
    z-index: 1;
    max-width: 25vw;
    min-width: 350px;
    object-fit: cover;
    position: relative;
}



.about-col h1 {
    padding-top: 0;
    font-size: 50px;
    font-weight: 100;
    color: #f00000;
}


.about-col p {
    padding-top: 10px;
    font-weight: 200;
    text-align: justify;
    cursor: pointer;
}

.text-hover {
    display: none;
}

.main-text:hover+.text-hover {
    display: block;
    border-left: #f00000 2px solid;
    padding-left: 40px;
}

.section {
    background-color: #f9fafb;
    padding: 10vw 60px;
    position: relative;
}

.middle-section {
    max-width: 1600px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
}

.title-wrap {
    flex-direction: column;
    align-items: center;
    margin-bottom: 10vw;
    display: flex;
}

.title-wrap h1 {
    font-size: 60px;
    color: red;
}

.text-wrap {
    width: 600px;
    text-align: center;
    font-size: 18px;
}

.middle-section .box {
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.box .h5-title {
    margin-bottom: 40px
}

.box .h5-title h5 {
    font-size: 30px;
    color: #f00000;
}

.box .h6-title h6 {
    color: #f00000;
    font-size: 55px;
    font-weight: 300;
}

.box .h6-title h6 span {
    font-style: italic;
    font-weight: 300;
    line-height: 4rem;
}

.box .text {
    margin-top: 20px;
    font-size: 1.4em;
    line-height: 5rem;
    font-family: sans-serif;
}

.box .vr-blurry {
    border: 1px solid #f00000;
}

.core-offerings {
    background-color: #f9fafb;
    padding: 10vw 60px;
    position: relative;
}

.drops {
    z-index: 1;
    width: 20vw;
    object-fit: cover;
    margin-top: 19vw;
    position: absolute;
    left: -10vw;

}

.drops img {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}

.core-text {
    width: 100%;
    align-items: flex-start;

}

.core-text h1 {
    font-size: 68px;
    color: #f00000;
}

.core-section {
    display: flex;
    margin-left: 25%;
    padding: 22px 36px;
}

.flex-child {
    flex: 1;
}

.flex-child .right {
    margin-top: 20%;

}

.flex-child:first-child {
    margin-right: 40px;
}

.section-card {
    border-bottom: 1px solid #f00000;
    border-left: 1px solid #f00000;
    border-bottom-left-radius: 8px;
    margin-bottom: 140px;
    padding: 0 16px 16px;
}

.number {
    color: #f00000;
    margin-bottom: 10px;
}

.content {
    display: block;
}

.title {
    margin-bottom: 20px;
}

.content h3 {
    margin-top: 0;
    font-size: 2.8em;
    font-weight: 300;
    line-height: 3rem;
}

.description {
    margin-bottom: 20px;
    font-size: 1.4em;
    line-height: 1.8rem;
}

.description p {
    letter-spacing: .2px;
    margin-bottom: 0;
    font-family: Roboto, sans-serif;
    font-size: 1em;
    font-weight: 300;
    line-height: 1.8rem;
}


.list-images {
    position: relative;
}


.grid {
    position: relative;
}

.item {
    position: relative;
    height: 80vh;

    overflow-y: hidden;

    h2,
    h6 {
        margin: 0;
        display: block;
        color: white;

    }



    a {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;

        &:hover,
        &:focus {
            ~.item__overlay {
                transform: translate3d(0, 50%, 0);
                background-color: rgba(24, 21, 21, 0.646);
            }
        }
    }
}

img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.item__overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    position: absolute;
    width: 100%;
    top: 5px;
    transition: transform 300ms;
    transform: translate3d(0, calc(90% - 3.5rem), 0);
    padding-left: 2.5rem;

}

.item__overlay h6 {
    font-size: 20PX;
    font-family: sans-serif;
    font-weight: 300;
    padding-top: 22px;
}

.item__overlay h2 {
    font-size: 60PX;
    font-family: sans-serif;
    font-weight: 300;
    margin-bottom: 50px;
}


.item__body {
    flex-grow: 1;
    padding: 1rem;
    color: white;
    display: flex;

    p,
    ul {
        margin-right: 35px;
        font-size: 20px;
        font-family: sans-serif;
    }

    p,
    ul {
        margin-right: 35px;
        width: 60%;
    }

}

.insight {
    background-color: #f9fafb;
    padding: 10vw 60px;
    position: relative;
}

.insight .title {
    width: 100%;
    align-items: flex-start;

}

.insight .title h4 {
    font-size: 24px;
    font-family: sans-serif;
    color: #f00000;
}

.insight .title h2 {
    font-size: 60px;
    color: #f00000;
    line-height: 46px;
    margin-bottom: 100px;
}

.card {
    background-color: transparent;
    border: none;

}

.cards .btn {
    margin-bottom: 1rem !important;
    background-color: white;
    border-radius: 50%;
    text-align: center;
}

.cards i {
    color: #f00000;
}

.img-fluid {
    float: left;
    width: 600px;
    height: 300px;
    background-size: cover;
}


.card h4 {
    font-family: sans-serif;
    font-weight: 100;
    color: gray;
    font-size: 18px;
}

.card a {
    text-decoration: none;
    color: red;
    font-size: 25px;
}

.footer-img {
    min-height: 100vh;
    width: 100%;
    background-image: url(footer.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;

}

.footer-img-txt{
    position: absolute;
    bottom: 0px;
    left: 0px; 
    background-color: #f00000ab; 
    color: #fff; 
    padding: 10px 20px; 
    width: 100%;
    height: 30%;
    align-content: flex-start;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-items: center;
    

}

.footer-img-txt .row{
    margin-top: 50px;
    
    text-align: center;
}
.footer-img-txt p{
    font-size: 20px;
    font-family: sans-serif;
}
.footer-img-txt button{
    background-color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50px;


}
.footer-img-txt button:hover{
    background-image: linear-gradient(270deg, #7b281a, #f00000);
    color: #fff;
 }


.section-footer {
    height: 100vh;
    background-color: #f00000;
    background-image: linear-gradient(270deg, #7b281a, #f00000);
    justify-content: center;
    align-items: center;
    padding-top: 0;
    padding-bottom: 4vw;
    display: flex;
    position: relative;
}

.section-footer{
    height: 100vh;
    background-color: #f00000;
    background-image: linear-gradient(270deg, #7b281a, #f00000);
    justify-content: center;
    align-items: center;
    padding-top: 0;
    padding-bottom: 4vw;
    display: flex;
    position: relative;
}
.footer-container{
    width: 100%;
    height: 100%;
    max-width: 1600px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.footer-up{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}
.footer-contact {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
}
a{
    max-width: 100%;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    font-size: 30px;
    position: relative;
}
.footer-drop {
    width: 20px;
    margin-top: 20px;
}
img {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}

.footer-down {
    width: 100%;
    align-content: flex-start;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.footer-page-link {
    flex-direction: column;
    padding: 16px;
    display: flex;
    
}
.footer-small-text.nohover {
    margin-bottom: 8px;
}
.footer-small-text {
    color: #f9fafb;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
    transition: opacity .3s;
}
.footer-social i{
    width: 10px;
}

@media (max-width:700px) {

    .parallax {
        text-align: center;

        justify-content: center;

    }

    .scroll-text {

        justify-content: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .parallax h3 {
        font-size: 20px;
        color: white;
        justify-content: center;
    }

    .parallax p {
        font-size: 15px;
        color: white;
        justify-content: center;
        margin-top: 20px;
        font-family: sans-serif;
    }

    .about {
        width: 90%;
        margin: auto;
        padding: 20px 0px 20px 0px;
        background-color: white;

    }

    .about-col h1 {
        padding-top: 0;
        font-size: 25px;
        font-weight: 100;
        color: #f00000;
    }

    .bottom-left {
        position: absolute;
        bottom: 70px;
        left: 16px;
    }

    .bottom-left h1 {
        font-size: 41px;
        color: white;
    }

    .about-col p {
        padding-top: 10px;
        font-weight: 200;
        text-align: left;
        cursor: pointer;
    }

    .about-col {
        flex-basis: 100%;
        padding: 20px 11px;
    }

    .about {
        padding-top: 30px;
    }

    .about-col2 {
        display: none;
    }

    .text-wrap {
        width: 270px;
        text-align: center;
        font-size: 15px;
    }

    .section {
        background-color: #f9fafb;
        padding: 10vw 6px;
        position: relative;
    }

    .box .vr-blurry {
        border: 1px solid #f00000;
    }

    .title-wrap h1 {
        font-size: 25px;
        color: red;
    }

    .middle-section .box {
        text-align: center;
        justify-content: center;

    }

    .box .h5-title h5 {
        font-size: 18px;
        color: #f00000;
    }

    .box .h6-title h6 {
        font-size: 30px;
    }

    .box .text {
        margin-top: 20px;
        font-size: 15px;
        line-height: 1rem;
    }

    .item {
        position: relative;
        height: 40vh;
    
        overflow-y: hidden;
    
        h2,
        h6 {
            margin: 0;
            display: block;
            color: white;
    
        }
    
    
    
        a {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
    
            &:hover,
            &:focus {
                ~.item__overlay {
                    transform: translate3d(0, 50%, 0);
                    background-color: rgba(24, 21, 21, 0.646);
                   
                }
            }
        }
    }

    img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
    }
    
    .item__overlay {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        position: absolute;
        width: 100%;
        top: 0;
        transition: transform 300ms;
        transform: translate3d(0, calc(90% - 3.5rem), 0);
        padding-left: 2.5rem;
    
    }
    
    .item__overlay h6 {
        font-size: 8PX;
        font-family: sans-serif;
        font-weight: 300;
        padding-top: 22px;
    }
    
    .item__overlay h2 {
        font-size: 16PX;
        font-family: sans-serif;
        font-weight: 300;
        margin-bottom: 0px;
    }
    
    
    .item__body {
        flex-grow: 1;
        padding: 1rem;
        color: white;
        display: block;
    
        p,
        ul {
            margin-right: 35px;
            font-size: 10px;
            font-family: sans-serif;
        }
    
        p,
        ul {
            margin-right: 35px;
            width: 60%;
        }
    
    }

    
    .core-offerings {
        padding: 10vw 14px;
    }
    
    .drops {
        display: none;
    
    }

    .core-text h1 {    
        font-size: 40px;
    }
    
    .core-section {
        display: block;
        margin-left: 0%;
        padding: 22px 8px;
    }
    
   
    
    .flex-child:first-child {
            margin-right: 0px;
    }
    
    .section-card {
        margin-bottom: 75px;
    }
    
    .number h5{
        font-size: 1rem;
    }
    
    
    .content h3 {
        margin-top: 0;
        font-size: 1.75em;

    }
    
    
    .description {
        letter-spacing: .2px;
        margin-bottom: 0;
        font-family: Roboto, sans-serif;
        font-size: 1em;
        font-weight: 300;
        line-height: 1.8rem;
        color: white;
    }
    
}